<h1>Movie:</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Release Year</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
      <tr>
        <td><%= @movie.title %></td>
        <td><%= @movie.release_year %></td>
        <td><%= @movie.price %></td>
        <td><%= @movie.description %></td>
      </tr>

</table>
<%= link_to 'Back', movies_path %>
